.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
}

/* Global container */
.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

/* Label */
.wrapper label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input */
.wrapper input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Short input */
.wrapper input[type="text"].shortest_input {
  width: 30%;
}

/* Btn */
.wrapper input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

/* Btn hov */
.wrapper input[type="button"]:hover {
  background-color: #45a049;
}

/* Errors */
.wrapper span {
  color: red;
  margin-top: 5px;
}